#red {
  width: 500px;
  aspect-ratio: 1;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}
#green {
  width: 200px;
  aspect-ratio: 1;
  background-color: green;
}
